<div class="container">
	<div *ngIf="showDiv">
	<div id="myDIV" class="header"  >
	  <h2 style="margin:5px">My To Do List</h2>
	  <input type="text" id="myInput" placeholder="Title..." [(ngModel)]="newItem">
	  <span (click)="addItem()" class="addBtn">Add</span>
	</div>

	<ul id="myUL">
	  <li *ngFor="let i of items; let indexVal = index;">{{i}}
		 <span class="glyphicon glyphicon-pencil edit-pencil" (click)="edititem(indexVal)"></span>
		<span class="close" (click)="removeItem(indexVal)">×</span>
	  </li>
	</ul>
	</div>
	<div *ngIf="showEdit">
		<div id="myDIV" class="header"  >
		  <h2 style="margin:5px">My To Do List</h2>
		  <input type="text" id="myInput" placeholder="Title..." [(ngModel)]="newItem">
		  <input type="hidden" id="myInput" placeholder="Title..." [(ngModel)]="editItemindex">
		  <span (click)="updateItem()" class="addBtn">Edit</span>
		</div>
	</div>
</div>